/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Farsan&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 60, 60, 60; /* Mid-tone grey */
  --background-end-rgb: 120, 120, 120; /* Light grey */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: Farsan, "Coming Soon", cursive;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
